img{
    width: 100%;
    height: 100%;
}
.row{
    height: 300px; /* image A,B,C,D*/
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.Vartical-collage img{/*Image c,d height adjust*/
    height:  calc( (100% - 5px)/2 );
}
.row> div{
    flex: 1; /*All of take same place size*/

}
.square-collage{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  
}
/*Small devices*/
@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: repeat(1,1fr);
        
    }
}

/*Medium devices*/
@media screen and (min-width:576px) and (max-width:992px){
    .row{
        flex-direction: column;
        height: auto;
    }
    
}